.navigation {
  background-color: #fff;
  float: left;
  position: fixed;
  width: 8%;
  height: 100%;
  top: 0px;
  left: 0px;

}
.nav-image {
  width: 50%;
  padding: 5%;
}

ul {
  list-style-type: none;
}

.main-group {
  position: relative;
  top: 160px;
}

body {
  font-family: 'Biryani', sans-serif;
  color: #363636;
  background-color: #F5F5F5;
}

.head-one {
position: relative;
left: 225px;
}

.account-heading {
  width: 50%;
  float: left;
  margin: 20px 0px;
}

.accounts {
  width: 100%;
  display: inline-block;
}

.manage-accounts-button {
  float: right;
  display: inline-block;
  width: 40%;
  margin: 20px 0px;
}
button {
  color: white;
  background-color: #1CA3BA;
  border-color: #1CA3BA;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
  display: inline-block;
}

.card-image {
  padding: 10px;
  width: 5%;
}

.two-columns {
  width: 100%;

}
.column-one {
  float: left;
  width: 45%;
  margin: 0% 0% 0% 10%;
}

.column-two {
  float: right;
  width: 40%
}

.welcome {
  padding: 20px;
  margin: 0% 0% 5% 0%;
  background-image:linear-gradient(to right, #8ED1DC, #E3F4F6);
}

.snapshot {
  display: inline-block;
  width: 153px;
  height: 90px;
  background-color: #fff;
  padding: 10px 10px 20px 20px;
}

.center {
  margin: 0px 25px 0px 25px;
}

.right {
  margin: 0px;
}

.card {
  background-color: #FFF;
  width: 100%;
  margin: 20px 0px;

}

.card-image {
  padding: 10px;
  width: 5%;
  display: inline-block;
}

.finance-co {
  position: relative;
  left: 15%;
  bottom: 12px;
  display: inline-block;
}

.card-type {
  float: right;
  width: 33%;
  display: inline-block;
}

.recent-transactions {
  display: inline-block;
}

.new-transaction-button {
  float: right;
  display: inline-block;
  width: 40%;
  margin: 20px 0px;
}

table {
    background-color: #fff;
    padding: 0% 5% 0% 0%;
    width: 100%;
}

th {
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
}

td {
    padding: 0px 15px 0px 0px;
    border-bottom: 1px solid #CCCCCC;
}

.payee {
    padding: 0% 25% 0% 0%;
}
