.navigation {
  background-color: #fff;
  float: left;
  height: 100%;
  width: 8%;
  display: grid;
  grid-template-rows: 100% 300%;
  margin: 0px 30px 0px 0px;
}


body {
  font-family: 'Biryani', sans-serif;
  color: #363636;
  background-color: #F5F5F5;
}

button {
  color: white;
  background-color: #1CA3BA;
  border-color: #1CA3BA;
  border-radius: 10px;

}

.two-columns {
  display: grid;
  grid-template-columns: 50% 50%;
}

h2 {
  display: inline;
}

.nav-image {
  width: 50%;
}

.card-image {
  padding: 10px;
  width: 25%;
}

.accounts {
  display: grid;
  grid-template-columns: 50% 50%;
}

.manage-button {
  float: right;
}
.menu {
  background-color: #fff;
}

.column-one {
  display: left;
  margin: 0px 50px 0px 0px;
}

.column-two {
  align: center;
}

.welcome {
  padding: 20px;
  background-image:linear-gradient(to right, #8ED1DC, #E3F4F6);
}

.snapshot {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.ind-snap {
  background-color: #fff;
  padding: 5px;
  margin: 10px 10px 0px 0px;
}
.card {
  background-color: #FFF;
  box-shadow: rgba(0,0,0,0.05);
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 150px 200px 200px;
}

table {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}
th {
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
}

td {
  padding: 0px 15px 0px 0px;
  border-bottom: 1px solid #CCCCCC;
}

}
.payee {
  padding: 0px 115px 0px 0px;
}

.accounts-head {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0px 20px;
}
